@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box; /*dimensionamento de borda*/
}

body {
  font-family: 'Roboto', sans-serif; /*fonte google fonts*/
  display: flex; /*caixa em linha*/
  flex-direction: column; /*caixas em coluna*/
  align-items: center; /*alinhamento dos itens*/
  justify-content: center; /*alinhamento vertical*/
  height: 100vh; /*100% da view port*/
  overflow: hidden;

  margin: 0px; /*margem 0*/
}
